__pycache__/
*.pyc
*.pyo
*.pyd
.Python

venv/
env/
ENV/
.venv

build/
dist/
*.spec

*.log
*.db
*.db-journal
*.db-wal
*.db-shm

data-in/*
data-archive/*
data/*
reports/*
logs/*
!data-in/.gitkeep
!data-archive/.gitkeep
!data/.gitkeep
!reports/.gitkeep
!logs/.gitkeep

.DS_Store
Thumbs.db
*.tmp
